* {
  margin: 0px;
  padding: 0px;
  font-family: 'sans-serif';
  overflow-y: hidden;

}

body, html, .App, #root {
  height: 100%;
}

.Top {
  height: 5vh;
}

.Main {
  height: 95vh;
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.App {
  
}
