.content {
  background: #111111;
  height: auto;
  width: 100%;
  color: white;
  overflow-y: scroll;
  overflow-x: auto;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content::-webkit-scrollbar {
  background: #252525;
  border: 1px solid #222222;
  width: 8px;
  height: 8px;
}

.content::-webkit-scrollbar-thumb {
  background: #151515;
}

.content::-webkit-scrollbar-button {
  display: none;
}

.recipe {
  width: 90%;
  line-height: 30px;
  font-size: 24px;
  min-width: min-content;
}

.recipe.title{
  text-align: center;
  line-height: 70px;
}

.recipe.image {
  text-align: center;
  position: relative;
  background: #131313;
  border-radius: 50px;
  width: 90%;
}

.images img {
  display: none;
}

.images .active {
  display: block;
  margin: auto;
}

.arrow {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 30%;
  background: #FFFFFF00;
  color: #FFFFFF00;
  transition: 0.5s;
  font-size: 50px;
  font-weight: bold;
  line-height: 100%;
  border-radius: 50px;
}

.arrow span {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

.arrow.left {
  left: 0px;
}

.arrow.left:hover {
  background: linear-gradient(0.25turn, rgba(0, 0, 0, 0.3), rgba(0, 0 ,0 ,0.2), rgba(0,0,0,0));
  color: #FFFFFF;
  cursor: pointer;

  transition: 0.5s;
}

.arrow.right {
  right: 0%;
}

.arrow.right:hover {
  background: linear-gradient(-0.25turn, rgba(0, 0, 0, 0.3), rgba(0, 0 ,0 ,0.2), rgba(0,0,0,0));
  color: #FFFFFF;
  cursor: pointer;
  
  transition: 0.5s;
}

.recipe.description h2 {
  line-height: 50px;
}

.recipe.ingredients h2 {
  line-height: 50px;
}

.recipe.steps h2 {
  line-height: 50px;
}